{% extends "juice/templates/index.html" %}
{% block hero %}
<section class="text-center">
    <h1 class="heading-text" style="font-size: 50px">
        Mst. Harald Graf
    </h1>
    <h3 class="title-text">
        <b>Email:</b> <a style="color:rgba(45,95,161,100)" href="mailto:harald.graf@hg23.at">harald.graf@hg23.at</a>
        <br>
        <b>Tel.:</b> <a style="color:rgba(45,95,161,100)" href="tel:+43676898494104">+43 676 898494104</a>
    </h3>
</section>

<img class="hero-image" style="width: 20%" src="{{ get_url(path="harald_graf.jpg") }}">

<div class="explore-more text"
     onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
    zur Person... ⇩
</div>
{% endblock hero %}
